@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5opx + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 5rem;
}

.bar {
  float: right;
}

nav a.nav-link {
  font-size: 0.8rem;
  
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  margin-right: 1.875rem;
  margin-left: 1.875rem;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  border-top: 0.1875rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

:root{
  --primary-dark:rgb(255,255,255,0);
  --primary-white: #fff;
  --primary-orange: #f9ab00; 
}

.navbar-nav > li >a:hover{
  border-top: 0.1875rem solid var(--primary-orange); 
}

.navbar-brand{
  width: 17.25rem;
  height: 6rem !important;
  padding: 0 !important;
  
}

.navbar-nav > li > li> a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
  
}